.contact
    &__infos
        display: flex
        flex-direction: row
        justify-content: space-between
        +media('<1000px')
            flex-direction: column
            margin: rem(10px 0)
    a
        background: none
        letter-spacing: -1px
        font-size: rem(18px)
    strong
        margin-right: rem(10px)

    .acf-map
        height: 80vh
        margin: rem(90px) 0 rem(100px)
