.content .gallery
    display: flex
    flex-wrap: wrap
    margin-right: rem(1/2 * -45px)
    margin-left: rem(1/2 * -45px)
    +media('<1600px')
        margin-right: rem(1/2 * -30px)
        margin-left: rem(1/2 * -30px)
    +media('<1000px')
        margin-right: rem(1/2 * -20px)
        margin-left: rem(1/2 * -20px)

    .gallery-item
        width: 1/3 * 100%
        padding: rem(1/2 * 45px)

        +media('<1600px')
            padding: rem(1/2 * 30px)
        +media('<1000px')
            padding: rem(1/2 * 20px)
        +media('<950px')
            width: 50%
        +media('<500px')
            width: 100%
        .gallery-icon
            display: block
            width: 100%
            height: 0
            padding-bottom: 100%
            position: relative
            color: #fff
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            margin: 0
            @extend img.objectfit

        &:nth-of-type(6n), &:nth-of-type(6n+1), &:nth-of-type(6n+2)
            .gallery-icon
                padding-bottom: 65%
