.hero-carousel
    width: 100%
    position: relative
    overflow: hidden
    margin-bottom: rem(90px)
    &:after
        content: '';
        display: block
        position: absolute
        pointer-events: none
        z-index: 1
        top: 0
        left: 0
        width: 100%
        height: 100%
        box-shadow: inset 0px 52px 250px -46px rgba(0,0,0,0.5)

    .flickity-slider li
        width: 100%
        height: 100vh
        margin: 0
        +media('<500px')
            height: 90vh

/* big buttons, no circle */
.flickity-prev-next-button
    width: 80px
    height: 50px
    background: rgba(0,0,0,0)
    &:hover
        background: rgba(0,0,0,0)
    .arrow
        fill: white
    .no-svg
        color: white
    &:disabled
        display: none

/* position dots in carousel */
.flickity-page-dots
    bottom: 30px
    z-index: 10

    +media('<400px')
        bottom: 20px

    .dot
        width: 10px
        height: 10px
        opacity: 1
        background: rgba(0,0,0,0)
        border: 2px solid white
        margin: 0 15px
        +transition()

        &.is-selected
            background: white
