.pagination
    border: 1px solid $gray-light
    border-left: none
    border-right: none
    display: flex
    flex-direction: row
    margin-top: rem(40px)
    &__link
        display: flex
        flex-direction: row
        align-items: center
        padding: 5px 0
        &--next
            margin-left: auto
            svg
                transform: rotate(90deg)
                +transition()
            &:hover
                svg
                    transform: rotate(90deg) translateY(-10px)
        &--prev
            svg
                transform: rotate(-90deg)
                +transition()
            &:hover
                svg
                    transform: rotate(-90deg) translateY(-10px)

        &__label
            margin: 0 rem(30px)
            text-transform: uppercase
            color: $gray-dark
            font-weight: 500
            +media('<500px')
                display: none
        svg
            display: block
            width: rem(32px)
            path
                fill: $gray-dark
            +media('<500px')
                width: rem(26px)
