.footer
    .wrapper
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        align-items: flex-start
        margin: rem(60px auto)

        +media('<500px')
            margin: rem(30px auto 50px)

        +media('<400px')
            margin: rem(20px auto 50px)

    &__links
        margin-right: auto
        margin-left: rem(-5px)
        display: flex

        svg
            transform: scale3d(1,1,1)
            +transition(.15s)
            path
                fill: $gray

        a
            width: rem(30px)
            height: rem(30px)
            padding: rem(5px)
            margin-right: rem(15px)

            +media('<400px')
                padding: rem(5px)
                width: rem(27px)
                height: rem(27px)

            &:not(.parent-open):hover > svg
                transform: scale3d(1.1,1.1,1)

    svg
        width: 100%
        height: 100%

    &__detail
        display: none
        span
            color: $gray-dark
            font-size: rem(18px)
            white-space: nowrap
            strong
                font-weight: 600
                margin-right: rem(12px)
        .open
            display: block

    &__up
        width: rem(42px)
        padding: 10px
        margin-top: -5px
        margin-right: rem(-10px)

        +media('>=500px')
            svg:nth-of-type(2)
                display: none
        +media('<500px')
            svg:nth-of-type(1)
                display: none


.js-Address
    .js-map
        position: fixed !important
        top: 50%
        left: 50%
        width: 80%
        height: 80%
        transform: translate(-50%, -50%)
        z-index: 999
    .close
        position: fixed
        top: 5px
        right: 10px
        width: rem(50px)
        height: rem(50px)
        padding: rem(15px)
        z-index: 9999
        path
            fill: #fff

.js-Email, .js-Telephone
    position: relative
    &.parent-open
        z-index: 999
        svg path
            fill: #fff
    .open
        position: absolute
        top: rem(5px)
        right: rem(5px)
        transform: translate(100%, -100%)
        padding: rem(30px 45px)
        background: #fff
    .close
        position: absolute
        top: 0
        right: 0
        width: rem(35px)
        height: rem(35px)
        padding: rem(10px)
