@import partials/hero-carousel

.latest-projects
    h2
        font-size: rem(18px)
        color: $gray
        margin-bottom: rem(50px)

        +media('<600px')
            margin-bottom: rem(30px)

    &.projects .project
        &:nth-of-type(6n), &:nth-of-type(6n+1), &:nth-of-type(6n+2)
            a
                padding-bottom: 65%
