$header-height: rem(90px)
$header-margin: rem(30px)

$header-height-small: rem(80px)
$header-margin-small: rem(20px)

$header-height-smallest: rem(65px)
$header-margin-smallest: rem(20px)

body
    padding-top: $header-height
    +media('<1000px')
        padding-top: $header-height-small
    +media('<500px')
        padding-top: $header-height-smallest
    &.full-feature
        @media screen and (min-aspect-ratio: 1/1)
            padding-top: 0
    &.floating-header
        padding-top: 0
        .header:not(.sticky)
            svg path
                fill: #fff
            a
                color: #fff
            .current-menu-item a
                color: darken(#fff, 15%)
            .hamburger i
                background: #fff

.header
    position: absolute
    width: 100%
    height: $header-height
    top: 0
    left: 0
    margin-bottom: $header-margin
    box-shadow: rem(0px 2px 10px) 0 rgba(#000, 0)
    z-index: 1000
    +media('<1000px')
        height: $header-height-small
        margin-bottom: $header-margin-small
    +media('<500px')
        height: $header-height-smallest
        margin-bottom: $header-margin-smallest

    &.open
        position: fixed
        top: 0
        left: 0
        width: 100%
        z-index: 9999
        transform: translate3d(0, 0, 0) !important

    &.transition
        position: fixed
        top: 0
        left: 0
        width: 100%
        z-index: 9999
        height: rem(65px)
        transform: translate3d(0, #{rem(-$header-height)}, 0)
        background: #fff
        box-shadow: rem(0px 2px 10px) 0 rgba(#000, 0.1)

    &.sticky
        +transition(.3s)

    &.visible
        transform: translate3d(0, 0, 0)


    & .wrapper
        height: 100%
        padding: 0
        display: flex
        justify-content: space-between
        flex-direction: row
        align-items: center

    &__nav
        margin-left: auto
        ul
            display: flex
            flex-direction: row

        +media('<750px')
            display: flex
            align-items: center
            text-align: center
            position: fixed
            width: 100%
            height: 100vh
            right: 0
            top: 0
            opacity: 0
            pointer-events: none
            background-color: #fff
            +transition()
            ul
                width: 100%
                flex-direction: column
            li
                transform: translate3d(rem(40px), 0, 0)
                opacity: 0
                +transition()

                @for $i from 1 through 10
                    &:nth-of-type(#{$i})
                        transition-delay: #{($i * 0.06)}s
            &.open

                opacity: 1
                -webkit-tap-highlight-color: rgba(0,0,0,0)
                -webkit-backface-visibility: hidden
                backface-visibility: hidden
                pointer-events: all
                li
                    transform: translate3d(0,0,0)
                    opacity: 1
                a
                    font-size: rem(28px)
                    padding: rem(30px)
                    color: $gray !important
        +media('<500px')
            &.open
                a
                    font-size: rem(26px)
                    padding: rem(25px)
    a
        display: inline-block
        font-size: rem(18px)
        padding: rem(20px)
        letter-spacing: 1px
        color: $gray-dark
        text-transform: uppercase

    a#{&}__logo
        padding: rem(30px)
        svg
            width: rem(180px)
            height: rem(20px)
        +media('<1600px')
            padding: rem(15px)
            transform: translateY(2px)
        +media('<500px')
            svg
                width: rem(160px)

    &__lang
        a
            font-weight: 300
            padding: rem(30px)
            +media('>=750px', '<1600px')
                padding: rem(15px)
        +media('<750px')
            position: fixed
            width: 100%
            top: 0
            left: 0
            opacity: 0
            pointer-events: none
            +transition()
            a
                padding: rem(22px 15px)
                font-weight: 400
                font-size: rem(20px)
                color: $gray !important
            &.open
                opacity: 1
                pointer-events: all

    .current-menu-item a
        color: $gray-light

    &__ham
        padding: rem(20px)

        +media('>=750px')
            display: none

        .hamburger
            +rem((width: 24px,
            height: 18px))
            position: relative
            cursor: pointer
            +transition()
            transform: rotate(0deg)

            i
                display: block
                position: absolute
                width: 100%
                height: rem(2px)
                background: $gray
                opacity: 1
                left: 0
                transform: rotate(0deg)
                +transition(.25s)

                &:nth-of-type(1)
                    top: 0
                    transform-origin: left center

                &:nth-of-type(2)
                    top: rem(8px)
                    transform-origin: left center

                &:nth-of-type(3)
                    top: rem(16px)
                    transform-origin: left center

        &.open .hamburger
            transform: translateX(4px)
            i
                background: $gray !important
                &:nth-of-type(1)
                    transform: rotate(45deg) translate(rem(-0.5px), rem(-0.7px))

                &:nth-of-type(2)
                    opacity: 0
                    width: 0%

                &:nth-of-type(3)
                    transform: rotate(-45deg) translate(rem(0.2px), rem(-0.3px))

