.posts
    &-filter
        margin-bottom: rem(70px)
        +media('<1000px')
            margin-bottom: rem(50px)
        +media('<500px')
            margin-bottom: rem(30px)

        &__buttons
            display: flex
            flex-direction: row
            flex-wrap: wrap
            margin: rem(0 -15px)
            button
                font-family: 'Work Sans', sans-serif
                font-size: rem(20px)
                font-weight: 500
                letter-spacing: rem(1px)
                color: $gray-dark
                text-transform: uppercase
                padding: rem(10px 20px)
                +transition()
                &.is-checked
                  opacity: .55
    &__grid
        display: flex
        flex-wrap: wrap
        margin: rem(0 -1/2 * 45px)
        +media('<1600px')
            margin: rem(0 -1/2 * 30px)
        +media('<1000px')
            margin: rem(0 -1/2 * 20px)

    .post
        width: 1/3 * 100%
        padding: rem(1/2 * 45px)
        +media('<1600px')
            padding: rem(1/2 * 30px)
        +media('<1000px')
            padding: rem(1/2 * 20px)
        +media('<950px')
            width: 50%
        +media('<500px')
            width: 100%

        &__thumbnail
            position: relative
            width: 100%
            height: 0
            padding-bottom: 65%

        .bg
            opacity: 0
            background: rgba($gray-dark, 0.8)
            z-index: 1000
            +transition()
            &:before, &:after
                content: ''
                display: block
                position: absolute
                top: 50%
                left: 50%
                z-index: 99
                width: rem(35px)
                height: rem(1px)
                background: #fff
                +transition()
                transform: rotate(-45deg) translate(-50%, -50%)
                transform-origin: 0

            &:before
                transform: rotate(45deg) translate(-50%, 0)
        img, .bg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
        a
            display: block
            &:hover
                .bg
                    opacity: 1
                    &:before
                        transform: rotate(90deg) translate(-50%, 0)
                    &:after
                        transform: rotate(0) translate(-50%, -50%)
                h3, span
                    opacity: 0.55

        &__details
            display: flex
            flex-direction: column
            z-index: 100
            color: $gray

            h3
                font-size: rem(20px)
                color: $gray
                line-height: 1.3
                text-transform: uppercase
                font-weight: 500
                line-height: 1.6
                margin-top: rem(20px)
                margin-bottom: rem(10px)
                +transition()

            span
                letter-spacing: rem(0.7px)
                font-size: rem(17px)
                font-weight: 300
                margin-top: rem(30px)
                +transition()
