.single-article
    +media('<600px')
        .wrapper
            padding: 0
    $r: &
    &__details
        margin: rem(0 auto 60px)
        span
            font-size: rem(20px)
            line-height: 1.5
            color: $gray-dark
            text-transform: uppercase
            letter-spacing: -1px
        +media('<1000px')
            margin: rem(40px auto)
            span
                font-size: rem(18px)
        +media('<500px')
            margin: rem(30px auto)
            span
                font-size: rem(16px)

    h1
        color: $black
        text-transform: uppercase
        line-height: 1.5
        width: 100%
        font-weight: 300
        font-size: rem(40px)
        margin-top: rem(50px)
        margin-bottom: rem(50px)

        +media('<1600px')
            font-size: rem(32px)
            margin-bottom: rem(40px)
        +media('<1000px')
            font-size: rem(28px)
            margin-bottom: rem(35px)
        +media('<500px')
            font-size: rem(24px)
            margin-bottom: rem(30px)

    #{$r}__details, h1, .pagination
        +media('<500px')
            padding: rem(0 15px)
