.single-project
    +media('<600px')
        .wrapper
            padding: 0
    $r: &
    &__details
        margin: rem(0 60px 0 0)
        width: 40%
        float: left
        li
            font-size: rem(22px)
            line-height: 1.5
            color: $gray-dark
            font-weight: 500
            &:before
                display: none
        span
            text-transform: uppercase
        & + *
            text-align: justify
            float: none
            margin-left: auto
        +media('<1000px')
            width: auto
            float: none
            margin: rem(40px auto)
            li
                font-size: rem(20px)
        +media('<500px')
            margin: rem(30px auto)
            li
                font-size: rem(16px)

    h1
        color: $black
        // text-transform: uppercase
        width: 100%
        text-align: left
        line-height: 1.5
        font-weight: 600
        font-size: rem(40px)
        margin-top: rem(50px)
        margin-bottom: rem(30px)

        +media('<1600px')
            font-size: rem(32px)
            margin-bottom: rem(40px)
        +media('<1000px')
            font-size: rem(28px)
            margin-bottom: rem(35px)
        +media('<500px')
            font-size: rem(24px)
            margin-bottom: rem(30px)

    #{$r}__details, h1
        +media('<500px')
            padding: rem(0 15px)
