.projects
    &-filter
        margin-bottom: rem(70px)

        +media('<1000px')
            margin-bottom: rem(50px)

        +media('<500px')
            margin-bottom: rem(30px)


        &__buttons
            display: flex
            flex-direction: row
            flex-wrap: wrap
            margin: rem(0 -15px)

            button
                font-size: rem(16px)
                letter-spacing: rem(1.2px)
                color: $gray-medium
                text-transform: uppercase
                padding: rem(10px 18px)
                +transition()
                &.is-checked
                  opacity: .55
    &__grid
        display: flex
        flex-wrap: wrap
        margin: rem(0 -1/2 * 45px)
        +media('<1600px')
            margin: rem(0 -1/2 * 30px)
        +media('<1000px')
            margin: rem(0 -1/2 * 20px)

    .project
        width: 1/3 * 100%
        padding: rem(1/2 * 45px)

        +media('<1600px')
            padding: rem(1/2 * 30px)
        +media('<1000px')
            padding: rem(1/2 * 20px)
        +media('<950px')
            width: 50%
        +media('<500px')
            width: 100%
        a
            display: block
            width: 100%
            height: 0
            padding-bottom: 100%
            position: relative
            color: #fff

        img, &__details
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

        &__details
            display: flex
            flex-direction: column
            z-index: 100
            padding: rem(30px 40px)
            opacity: 0
            background: rgba($gray-dark, 0.6)
            +transition()

            +media('<450px')
                padding: rem(20px)

            &:before, &:after
                content: ''
                display: block
                position: absolute
                top: 50%
                left: 50%
                z-index: 99
                width: rem(40px)
                height: rem(1px)
                background: #fff
                +transition()
                transform: rotate(-45deg) translate(-50%, -50%)
                transform-origin: 0
                transition-delay: .1s

                +media('<450px')
                    width: rem(30px)

            &:before
                transform: rotate(45deg) translate(-50%, 0)

            &:hover
                opacity: 1

                h3, p, span
                    transform: translateY(0) !important
                    opacity: 1

                &:before
                    transform: rotate(90deg) translate(-50%, 0)
                &:after
                    transform: rotate(0) translate(-50%, -50%)

            h3
                font-size: rem(22px)
                line-height: 1.3
                text-transform: uppercase
                font-weight: 600
                margin-bottom: auto
                transform: translateY(-20%)
                +transition()
                +media('<450px')
                    font-size: rem(18px)

            p
                font-size: rem(18px)
                letter-spacing: rem(1px)
                margin-bottom: rem(20px)
                transform: translateY(20px)
                +transition()
                transition-delay: .1s
                +media('<450px')
                    font-size: rem(16px)
                    margin-bottom: rem(8px)
            span
                letter-spacing: rem(0.7px)
                font-weight: 300
                transform: translateY(40px)
                +transition()
                opacity: 0
                transition-delay: .15s
