html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  vertical-align: baseline
  box-sizing: border-box

input, textarea, button
    box-sizing: border-box
    border-radius: 0
    border: 0
    -webkit-appearance: none
    background-color: transparent

a, input, textarea, button
    &:active, &:focus
        outline: none

button
    cursor: pointer
    padding: 0
    margin: 0

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

a
    @include transition()
    text-decoration: none

button
    display: block
    -webkit-appearance: none
    outline: none
    border: none
    appearance: none