@import ../../node_modules/sass-rem/rem
@import ../../node_modules/sass-em/em
@import ../../node_modules/flickity/css/flickity.css
@import ../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css
@import mixins/include-media
@import reset
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600&subset=latin-ext)

$base-font-size: 16px

$gray-light: #d8d8d8
$gray: #808080
$gray-medium: #676767
$gray-dark: #4d4d4d
$black: #1c1c1c

html
    &.no-scroll
        overflow: hidden

body
    font-family: 'Work Sans', sans-serif
    +transition()
    &.no-scroll
        overflow: visible
        height: 100%
    &.loading
        opacity: 0


h2
    font-size: rem(16px)
    letter-spacing: 1px
    font-weight: 400
    color: $gray-dark
    text-transform: uppercase

strong
    font-weight: 600

.wrapper
    width: 100%
    margin: 0 auto
    +rem((max-width: 1580px,
    padding: 0 30px))
    +media('<1900px')
        max-width: rem(1380px)
    +media('<1600px')
        max-width: rem(1300px)
        padding: rem(0 15px)

.overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 200
    background: rgba(0,0,0,0.3)

.feature
    position: relative
    a
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        z-index: 10
    @media screen and (min-aspect-ratio: 1/1)
        display: flex
        height: 100vh
        align-items: flex-end
        flex-direction: column
    &--notitle
        @media screen and (min-aspect-ratio: 1/1)
            padding-top: rem(90px)
            height: 80vh
    &:not(.feature--notitle)
        @media screen and (min-aspect-ratio: 1/1)
            padding-top: rem(90px)
            padding-bottom: rem(140px)
.eic-frame
    border: none !important

.content
    & > *:not(img):not(.gallery):not(.eic-container)
        +media('<500px')
            padding: rem(0 15px)
    img, .gallery, .eic-container
        display: block
        margin: rem(50px) auto
        max-width: 100%
        height: auto
        position: static
        +media('<500px')
            margin: rem(30px) auto
    & > img
        max-height: 90vh
        object-fit: cover
    h1
        margin-bottom: rem(40px)
    h2
        font-size: rem(28px)
        letter-spacing: -1px
        color: $black
        font-weight: 300
        margin-bottom: rem(40px)
        &:first-letter
            font-size: rem(32px)
        +media('<1000px')
            font-size: rem(26px)
            &:first-letter
                font-size: rem(28px)
        +media('<500px')
            margin-bottom: rem(30px)
            font-size: rem(24px)
            &:first-letter
                font-size: rem(24px)
    h3
        color: $black
        text-transform: uppercase
        line-height: 1.5
        font-weight: 600
        font-size: rem(18px)
    p, h3, h4, h5, .content-column
        margin-bottom: rem(30px)
        +media('<500px')
            margin-bottom: rem(23px)
    p, a, li, h3, h4, h5, .content-column
        font-size: rem(16px)
        line-height: 1.6
        color: $gray-dark
        +media('<1600px')
            line-height: 1.5
        +media('<1000px')
            font-size: rem(16px)
    h4
        text-transform: uppercase
    & > a
        text-decoration: none
        background-image: linear-gradient(to bottom,rgba(0,0,0,.68) 50%,rgba(0,0,0,0) 50%)
        background-repeat: repeat-x
        background-size: 2px .1em
        background-position: 0 1.07em
    li
        &:before
            content: '●'
            color: $gray-light
            margin-right: rem(12px)
    hr
        display: block
        height: 1px
        border: 0
        border-top: 1px solid $gray-light
        margin: rem(50px) auto
        padding: 0
    +media('>=600px')
        .one_half
            padding: rem(0 15px 0 0)
            &.last_column
                padding: rem(0 0 0 15px)

.no-select
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none


img.objectfit
    object-fit: cover
    width: 100%
    height: 100%
    // NEEDED for object-fit-polyfill
    font-family: 'object-fit: cover;'

.acf-map
    width: 100%
    height: 100%
    margin: 20px 0

/* fixes potential theme css conflict */
.acf-map img
    max-width: inherit !important

@import header
@import footer
@import fancybox
@import front-page
@import projects
@import project
@import posts
@import post
@import partials/pagination
@import partials/gallery
@import partials/contact
