<div class="contact">
    <div class="contact__infos">
        {% for info in contact_infos %}
            <a href="{{ info.link }}">
                <strong>{{ info.type|first }}:</strong>{{ info.label }}</span>
            </a>
        {% endfor %}
    </div>
    <div class="acf-map js-contact-map">
        <div
            class="marker"
            data-lat="{{ map.lat }}"
            data-lng="{{ map.lng }}"
            data-icon="{{ static_image('maps.svg') }}"></div>
    </div>
</div>
