{% if (post.next or post.prev) %}
<div class="pagination">
    {% if post.next %}
        <a href="{{ post.next.link }}" class="pagination__link pagination__link--prev">
            {{ svg_static('arrow-up') }}
            <span class="pagination__link__label">{{ prev_label }}</span>
        </a>
    {% endif %}
    {% if post.prev %}
        <a href="{{ post.prev.link }}" class="pagination__link pagination__link--next">
            <span class="pagination__link__label">{{ next_label }}</span>
            {{ svg_static('arrow-up') }}
        </a>
    {% endif %}
</div>
{% endif %}
