<li class="post {{ post.date("Y") }} js-grid-item">
    <a href="{{ post.link }}">
        <div class="post__thumbnail">
            <div class="bg"></div>
            <img class="objectfit" src="{{ post.thumbnail.src('medium_large') }}">
        </div>
        <div class="post__details">
            <span>{{ post.date("Y - d.m") }}</span>
            <h3>{{ post.title }}</h3>
        </div>
    </a>
</li>
