<section class="posts-filter">
    <div class="wrapper">

        <div class="posts-filter__buttons js-filter-buttons">
            <button data-filter="*" class="posts-filter__button js-filter-button is-checked">{{ _('All')}}</button>
            {% for year in years %}
                <button data-filter=".{{ year }}" class="posts-filter__button js-filter-button">{{ year }}</button>
            {% endfor %}
        </div>

    </div>
</section>
