<section class="projects-filter">
    <div class="wrapper">

        <div class="projects-filter__buttons js-filter-buttons">
            <button data-filter="*" class="project-filter__button js-filter-button is-checked">{{ _('All')}}</button>
            {% for term in terms %}
                <button data-filter=".{{ term.slug }}" class="project-filter__button js-filter-button">{{ term.name }}</button>
            {% endfor %}
        </div>

    </div>
</section>
