<li class="project {{ project.terms_slugs | join(" ") }} js-grid-item">
    <a href="{{ project.link }}">
        <div class="project__details">
            <h3>{{ project.title }}</h3>
            <p>{{ project.details.stage.value }}</p>
            <span>{{ project.details.year.value }}</span>
        </div>
        <img class="objectfit" src="{{ project.thumbnail.src('medium_large') }}">
    </a>
</li>
