@import ../../../node_modules/include-media/dist/include-media

=highlight($background, $color: $white)
    &::selection
        background: $background

        @if $color != auto
            color: $color

    &::-moz-selection
        background: $background
        @if $color != auto
            color: $color

=placeholder($color)
    &::-webkit-input-placeholder
        color: $color

    &:-ms-input-placeholder
        color: $color

    &::-moz-placeholder
        color: $color
        opacity: 1

    &:-moz-placeholder
        color: $color
        opacity: 1

=transition($length: .4s, $what: all, $ease: cubic-bezier(.215,.61,.355,1))
    transition: $what $length $ease

=background_gradient($color)
    background: $color
    background: -webkit-linear-gradient(transparent, $color)
    background: -o-linear-gradient(transparent, $color)
    background: -moz-linear-gradient(transparent, $color)
    background: linear-gradient(transparent, $color)

@function parse-expression($expression)
    // If it is part of $media-expressions, it has no operator
    // then there is no need to go any further, just return the value
    @if map-has-key($media-expressions, $expression)
        @return map-get($media-expressions, $expression)

    $operator: get-expression-operator($expression)
    $dimension: get-expression-dimension($expression, $operator)
    $prefix: get-expression-prefix($operator)
    $value: em(get-expression-value($expression, $operator), $base-font-size)

    @return '(#{$prefix}-#{$dimension}: #{$value})'