{% extends "base.twig" %}

{% block content %}

   {% if show_filters %}
        {% include 'partials/post-filters.twig' with {'years': years} %}
    {% endif %}

    <section class="posts">
        <div class="wrapper">
            <ul class="posts__grid js-grid">
                {% for post in posts %}
                    {% include 'partials/post-thumbnail.twig' with {'posts': posts} %}
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}
