{% extends "base.twig" %}

{% block content %}

   {% if show_filters %}
        {% include 'partials/project-filters.twig' with {'terms': terms} %}
    {% endif %}

    <section class="projects">
        <div class="wrapper">
            <ul class="projects__grid js-grid">
                {% for project in projects %}
                    {% include 'partials/project-thumbnail.twig' with {'project': project} %}
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}
