{% include 'head.twig' %}
    <body class="{{ body_class }} {{ optional_body_class }} loading">
        <div class="overlay" style="display: none"></div>
        <header class="header">
            <div class="wrapper">

                <a href="{{ function('pll_home_url') }}" class="header__logo">{{ svg_static('logo') }}</a>

                <nav class="header__nav js-nav">
                    <ul class="nav-main">
                        {% for item in menu.items %}
                            <li class="nav-main-item {{ item.classes|join(' ') }}">
                                <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>

                <ul class="header__lang js-lang">{{ lang }}</ul>

                <div class="header__ham js-ham no-select">
                    <div class="hamburger no-select">
                        <i></i><i></i><i></i>
                    </div>
                </div>


            </div>
        </header>

        <div role="main" class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>

        {% block footer %}
            {% include 'footer.twig' %}
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
