<footer class="footer">
    <div class="wrapper">

        <div class="footer__links">
            {% for link in social_links %}
                <a
                    href="{{ link.link }}"
                    class="js-{{ link.type }}"
                    {% if link.type == "Social" %}
                    target="_blank"
                    {% endif %}>

                    {{ svg(link.icon) }}
                    <div class="footer__detail js-footer-detail">
                        {% if link.type == "Email" %}
                            <span><strong>E:</strong>{{ link.label }}</span>
                            <button class="close">{{ svg_static('close-small') }}</button>
                        {% elseif link.type == "Telephone" %}
                            <span><strong>T:</strong>{{ link.label }}</span>
                            <button class="close">{{ svg_static('close-small') }}</button>
                        {% elseif link.type == "Address" %}
                            <div class="acf-map js-map">
                                <div
                                    class="marker"
                                    data-lat="{{ map.lat }}"
                                    data-lng="{{ map.lng }}"
                                    data-icon="{{ static_image('maps.svg') }}">{{ link.label }}</div>
                            </div>
                            <button class="close">{{ svg_static('close') }}</button>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

        <button class="footer__up js-arrow-up">{{ svg_static('arrow-up') }}{{ svg_static('arrow-up-small') }}</button>
    </div>
</footer>
