{% extends "base.twig" %}
{% set optional_body_class = 'floating-header' %}
{% block content %}

    <section class="hero-carousel">
        <ul class="js-carousel">
            {% for project in post.get_field('featured_projects') %}
                <li>
                    <a href="{{project.link}}">
                        <img class="objectfit" src="{{ TimberImage(project.thumbnail) }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="latest-projects projects posts">
        <div class="wrapper">
            <ul class="projects__grid js-grid">
                {% for item in latest %}
                    {% if item.post_type == 'projects' %}
                        {% include 'partials/project-thumbnail.twig' with {'project': item} %}
                    {% else %}
                        {% include 'partials/post-thumbnail.twig' with {'post': item} %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}
