{% extends "base.twig" %}

{% if post.thumbnail %}
    {% set optional_body_class = 'full-feature' %}
{% endif %}

{% block content %}

    <section class="single-article">
        <div class="wrapper">
            {% if post.thumbnail %}
            <div class="single-article__feature feature feature--notitle">
                <img src="{{ post.thumbnail.src }}" class="objectfit"/>
                <a href="{{ post.thumbnail.src }}" data-fancybox="gallery"></a>
            </div>
            {% endif %}
            <div class="single-article__content content">
                {{ post.content }}
            </div>
        </div>
    </section>

{% endblock %}
