{% extends "base.twig" %}

{% if project.thumbnail %}
    {% set optional_body_class = 'full-feature' %}
{% endif %}

{% block content %}
    <section class="single-project">
        <div class="wrapper">

            {% if project.thumbnail %}
                <div class="single-project__feature feature">
                    <img src="{{ project.thumbnail.src }}" class="objectfit"/>
                    <a href="{{ project.thumbnail.src }}" data-fancybox="gallery"></a>
                    <h1>{{ project.title }}</h1>
                </div>
            {% else %}
                <h1>{{ project.title }}</h1>
            {% endif %}

            <div class="single-project__content content">
                <ul class="single-project__details js-project-details">
                    {% for detail in project.details %}
                        {% if detail.value %}
                        <li>{{ detail.value }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {{ project.content }}
            </div>

        </div>
    </section>

{% endblock %}
