{% extends "base.twig" %}

{% if post.thumbnail %}
    {% set optional_body_class = 'full-feature' %}
{% endif %}

{% block content %}
    <section class="single-article">
        <div class="wrapper">

            {% if post.thumbnail %}
                <div class="single-article__feature feature">
                    <img src="{{ post.thumbnail.src }}" class="objectfit"/>
                    <a href="{{ post.thumbnail.src }}" data-fancybox="gallery"></a>
                    <h1>{{ post.title }}</h1>
                </div>
            {% else %}
                <h1>{{ post.title }}</h1>
            {% endif %}

            <div class="single-article__content">
                <div class="single-article__details">
                    <span>{{ post.date }}</span>
                </div>
                <div class="single-article__body content">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
